# Ignore Visual Studio temporary files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore build outputs
bin/
obj/

# Ignore NuGet packages folder
*.nupkg
packages/

# Ignore Resharper files
_ReSharper*/
*.DotSettings.user